<a href="https://dailydoseofgto.com" class="daily-dose">
  <img src="{{asset 'images/daily-dose/banner-desktop.png'}}" alt="Daily Dose of GTO Segment" class="desktop">
  <img src="{{asset 'images/daily-dose/banner-mobile.png'}}" alt="Daily Dose of GTO Segment" class="mobile">
</a>