<section class="features">
  <h2 class="features__title">Features</h2>
  <ul class="features__items flex direction-column">
    <li class="features__item feature-item">
      <a href="https://app.gtowizard.com/practice/trainer" class="feature-item__link">
        <div class="feature-item__icon">
          {{> icons/features/trainer}}
        </div>
        <h3 class="feature-item__title">Trainer</h3>
        <p class="feature-item__description">Drill hands like you play them. Build precision through real spots and instant feedback.</p>
      </a>
    </li>
    <li class="features__item feature-item">
      <a href="https://app.gtowizard.com/solutions" class="feature-item__link">
        <div class="feature-item__icon">
          {{> icons/features/solver}}
        </div>
        <h3 class="feature-item__title">Solver</h3>
        <p class="feature-item__description">Break down any spot from preflop to river. Solve complex hands in seconds with AI-powered elite accuracy.</p>
      </a>
    </li>
    <li class="features__item feature-item">
      <a href="https://app.gtowizard.com/solutions?gametype=Cash6mGeneral_6mcEVR25&depth=100&gmfft_sort_key=0&gmfft_sort_order=desc&solution_type=custom&gmfs_solution_tab=ai_sols&soltab=strategy&gmff_favorite=false&gmff_rake=cEV&gmff_opening_size=25x&gmff_depth=100&custree_id=2b4a644d-fa60-41ed-b753-c52f843caa21&board=QsTs7h&cussol_id=feb9fb36-2fbc-414c-a580-464dceb77b16&history_spot=0" class="feature-item__link">
        <div class="feature-item__icon">
          {{> icons/features/multiway-solving}}
        </div>
        <h3 class="feature-item__title">Multiway Solving</h3>
        <p class="feature-item__description">Explore the hardest spots in poker: 3-way pots. Train with solver-backed accuracy to gain the edge no one studies.</p>
      </a>
    </li>
    <li class="features__item feature-item">
      <a href="https://app.gtowizard.com/solutions?gametype=Cash6mGeneral_6mcEVR25&depth=100&gmfft_sort_key=0&gmfft_sort_order=desc&solution_type=custom&gmfs_solution_tab=ai_sols&soltab=strategy&gmff_favorite=false&gmff_rake=cEV&gmff_opening_size=25x&gmff_depth=100&custree_id=2b4a644d-fa60-41ed-b753-c52f843caa21&board=QsTs7h&cussol_id=feb9fb36-2fbc-414c-a580-464dceb77b16&history_spot=0" class="feature-item__link">
        <div class="feature-item__icon">
          {{> icons/features/nodeblocking}}
        </div>
        <h3 class="feature-item__title">Nodelocking 2.0</h3>
        <p class="feature-item__description">Model your opponent’s leaks and watch the solver build the perfect counter-strategy.</p>
      </a>
    </li>
    <li class="features__item feature-item">
      <a href="https://app.gtowizard.com/study-plans/" class="feature-item__link">
        <div class="feature-item__icon">
          {{> icons/features/study-plans}}
        </div>
        <h3 class="feature-item__title">Study Plans</h3>
        <p class="feature-item__description">Follow structured plans built by top regs. Focused lessons, training drills, and a clear path to becoming better.</p>
      </a>
    </li>
    <li class="features__item feature-item">
      <a href="https://app.gtowizard.com/coaching" class="feature-item__link">
        <div class="feature-item__icon">
          {{> icons/features/coaching}}
        </div>
        <h3 class="feature-item__title">Coaching</h3>
        <p class="feature-item__description">Weekly live sessions with the best coaches. Learn strategies and ask questions in real time.</p>
      </a>
    </li>
     <li class="features__item feature-item">
      <a href="https://gtowizard.com/pokerarena" class="feature-item__link">
        <div class="feature-item__icon">
          {{> icons/features/arena}}
        </div>
        <h3 class="feature-item__title">PokerArena</h3>
        <p class="feature-item__description">The ultimate poker gauntlet: free heads-up battles, real rewards, and instant GTO feedback to sharpen your edge.</p>
      </a>
    </li>
  </ul>
</section>