<section class="help">
  <h2 class="help__title">Need Help?</h2>
  <div class="help__content">
    <div class="help__links help-links flex direction-column">
      <h3 class="help-links__title">Getting Started</h3>
      <ul class="help-links__list flex direction-column">
        <li class="help-links__item">
          <a href=" https://help.gtowizard.com/study-mode/" target="_blank" class="help-links__link">Study Mode</a>
        </li>
        <li class="help-links__item">
          <a href="https://help.gtowizard.com/practice-mode-overview/" target="_blank" class="help-links__link">Practice Mode</a>
        </li>
        <li class="help-links__item">
          <a href="https://help.gtowizard.com/analyze-mode-guide/" target="_blank" class="help-links__link">Analyze Mode</a>
        </li>
        <li class="help-links__item">
          <a href="https://help.gtowizard.com/custom-solving-overview/" target="_blank" class="help-links__link">GTO Wizard AI</a>
        </li>
      </ul>
      <a href="https://help.gtowizard.com" target="_blank" class="help-links__main-link flex items-center">Visit Help Center {{> icons/arrow-right}}</a>
    </div>
    <div class="help__banner help-banner flex direction-column">
      <a href="https://discord.com/invite/ht3QxrP" target="_blank" class="help-banner__image">
        <img class="desktop" src="{{asset 'images/help/banner-desktop.png'}}" alt="Help center banner">
        <img class="mobile" src="{{asset 'images/help/banner-mobile.png'}}" alt="Help center banner">
      </a>
      {{!-- <h3 class="help-banner__title"><a href="#">Discuss poker theory with more than 60K+ poker enthusiasts</a></h3> --}}
    </div>
  </div>
</section>