<section class="promo-carousel">
  <div class="promo-carousel__swiper swiper">
    <div class="promo-carousel__container swiper-wrapper">
      <div class="promo-carousel__item swiper-slide">
        <img src="{{asset 'images/promo-carousel/slide-image-1.jpg'}}" alt="Promo Carousel 1">
      </div>
      <div class="promo-carousel__item swiper-slide">
        <img src="{{asset 'images/promo-carousel/slide-image-2.jpg'}}" alt="Promo Carousel 2">
      </div>
      <div class="promo-carousel__item swiper-slide">
        <img src="{{asset 'images/promo-carousel/slide-image-3.jpg'}}" alt="Promo Carousel 3">
      </div>
    </div>
  </div>
</section>