/* Variables
/* ---------------------------------------------------------- */



/* Default settings ************************************************************ Default settings */

:root {

    /* Colors ****************************** Colors */

    --color-black: #0F0F0F;
    --color-light-black: #202022;
    --color-white: #FDFDFD;
    --color-light-grey: #B3B3B8;
    --color-dark-grey: #676671;
    --color-accent: #AAFBB2;
    --color-accent-dark: #6D9E72;

    /* Text colors*/
    --color-text-primary: var(--color-black);


    /* Background colors*/
    --color-bg-primary: var(--color-white);

    --color-success: #80b912;
    --color-error: #f05230;

    /* Fonts ****************************** Fonts */

    --font-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Containers ****************************** Containers */

    --container-main: 144rem;
    --container-content: 120rem;
    --container-post: 98rem;

    /* Border radius ****************************** Border radius */
    --radius-small: .4rem;
    --radius-small-medium: .6rem;
    --radius-medium: .8rem;
    --radius-large: clamp(0.6rem, 0.314rem + 0.476vw, 1rem);

    /* Breakpoints ****************************** Breakpoints */

    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Other ****************************** Other */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;

    --side-padding: 3.2rem;

    --transition-default: all 0.3s ease;

}

@media (max-width: 900px) {
    :root {
        --side-padding: 2.4rem;
    }
}


/* Settings for DARK layout ************************************************************ Settings for DARK layout */

html.theme-dark:root {

    /* Colors ****************************** Colors */

    --color-text-primary: var(--color-white);
    --color-bg-primary: var(--color-black);
    --color-accent: #AAFBB2;
}

html.theme-light:root {
    /* Colors ****************************** Colors */

    --color-accent: #0F0F0F;
}