/* Button component
/* ---------------------------------------------------------- */

.button,
.kg-btn.kg-btn-accent {
  border-radius: var(--radius-small);
  padding: .8rem 1.6rem;
  
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;

  transition: var(--transition-default);
}

html.theme-dark .button,
html.theme-dark .kg-btn.kg-btn-accent {
  color: var(--color-black);
  background: var(--color-accent);

  &:hover {
    box-shadow: 0 0 14px 2px rgba(170, 251, 178, 0.50);
  }
}

html.theme-light .button,
html.theme-light .kg-btn.kg-btn-accent {
  background: var(--color-black);
  color: var(--color-white);

  &:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), var(--color-black);
    box-shadow: 0 33px 9px 0 rgba(0, 0, 0, 0.00), 0 21px 8px 0 rgba(0, 0, 0, 0.02), 0 12px 7px 0 rgba(0, 0, 0, 0.08), 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  }
}