/* Card component
/* ---------------------------------------------------------- */

.card.card--placeholder {
  opacity: 0;
}

.card {

  &__image img {
    transition: var(--transition-default);
  }

  &__image:hover img {
    transform: scale(1.1);
  }

  &__tag {
    color: inherit;
    text-decoration: none;
  }
}

html.theme-dark .card {
  .card__tag {
    background: var(--color-light-black);
  }
 .card__tag:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%), var(--color-light-black);
 }
}

html.theme-light .card {
  .card__tag {
    background: #EEEEF0;
  }
  .card__tag:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), #EEEEF0;
  }
}

/* Featured card  *********************************************************  Featured card  */

.card.card--featured {
  display: flex;
  column-gap: 4rem;

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    row-gap: 2.4rem;
  }

  @media (min-width: 1025px) {
    padding: 1.6rem;
    border-radius: var(--radius-medium);
  }

  .card__main {
    justify-content: flex-end;

    @media (max-width: 1180px) and (min-width: 1025px) {
      max-width: 45%;
    }

    @media (min-width: 1025px) {
      padding: 2.4rem 0 2.4rem 2.4rem;
    }
  }
  .card__tag {
    padding: 0 .8rem;
    max-width: max-content;
    border-radius: var(--radius-small);

    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2;

    &:hover {
      opacity: 0.6;
    }
  }
  .card__tag--mobile {
    @media (min-width: 1025px) {
      display: none;
    }
  }
  .card__tag--desktop {
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .card__title {
    font-size: clamp(2.4rem, 1.257rem + 1.905vw, 4rem);
    line-height: 1.2;
    font-weight: 500;

    @media (min-width: 1025px) {
      margin-top: 2.4rem;
    }
  }
  .card__description {
    margin-top: 1.6rem;

    font-size: clamp(1.6rem, 1.457rem + 0.238vw, 1.8rem);
    line-height: 1.33;
    font-weight: 400;

    @media (max-width: 1024px) {
      margin-top: 1.2rem;
    }
  }
  .card__footer {
    margin-top: 5.8rem;

    @media (max-width: 1024px) {
      justify-content: flex-start;
      column-gap: 1.2rem;
    }

    @media (max-width: 1024px) {
      margin-top: 2.4rem;
    }
  }
  .card__meta {
    column-gap: 1rem;

    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.33;
    color: var(--color-dark-grey);
  }
  .card__date {
    color: var(--color-dark-grey);
  }
  .bull {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background: var(--color-dark-grey);
  }
  .card__image {
    aspect-ratio: 1.41 / 1;
    border-radius: var(--radius-small-medium);
    overflow: hidden;
    width: 100%;

    @media (max-width: 768px) {
      aspect-ratio: 1 / 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .button {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

html.theme-dark .card.card--featured {
  .card__description {
    color: var(--color-light-grey);
  }
  .card__tag {
    color: var(--color-light-grey);
    background: var(--color-light-black);
  }

  @media (min-width: 1024px) {
    background: rgba(32, 32, 34, 0.60);
  }
}

html.theme-light .card.card--featured {
  

  .card__description {
    color: var(--color-light-black);
  }
  .card__tag {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), #EEEEF0;
  }

  @media (min-width: 1024px) {
    background: #EEEEF0;
  }
}

/* Small card  *********************************************************  Small card  */

.card.card--small {
  column-gap: 3.2rem;

  @media (max-width: 600px) {
    column-gap: 2rem;
  }

  .card__image {
    aspect-ratio: 1.33 / 1;
    max-width: 20rem;
    width: 100%;
    border-radius: var(--radius-small-medium);
    overflow: hidden;
    flex-shrink: 0;

    @media (max-width: 600px) {
      aspect-ratio: 1 / 1;
      max-width: 12rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card__main {
    row-gap: 1.6rem;
    flex-wrap: wrap;
    column-gap: 1.2rem;

    @media (max-width: 600px) {
      row-gap: 0;
    }
  }
  .card__title {
    font-size: clamp(1.6rem, 1.457rem + 0.238vw, 1.8rem);
    line-height: 1.33;
    font-weight: 500;
    min-width: 100%;

    @media (max-width: 600px) {
      margin-top: .8rem;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .card__meta {
    column-gap: 1.2rem;

    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2;
    color: var(--color-dark-grey);

    @media (max-width: 600px) {
      margin-top: 2rem;
    }
  }
  .card__tag {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2;

    border-radius: var(--radius-small);
    padding: 0 .8rem;

    @media (max-width: 600px) {
      order: -1;
    }
  }
}

/* Default card  *********************************************************  Default card  */

.card.card--default {
  .card__image {
    aspect-ratio: 1.3333 / 1;
    border-radius: var(--radius-small-medium);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card__main {
    margin-top: 2rem;
  }
  .card__title {
    font-size: clamp(1.6rem, 1.029rem + 0.952vw, 2.4rem);
    font-weight: 500;
    line-height: 1.33;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .card__description {
    margin-top: 1.2rem;

    font-size: clamp(1.4rem, 1.257rem + 0.238vw, 1.6rem);
    line-height: 1.5;
    font-weight: 400;
    
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card__footer {
    margin-top: 2.4rem;
    column-gap: 1.2rem;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      row-gap: 1rem;
    }
  }
  .card__tag {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2;

    border-radius: var(--radius-small);
    padding: 0 .8rem;
  }
  .card__meta {
    column-gap: 1.2rem;

    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2;
    color: var(--color-dark-grey);
  }
}

html.theme-dark .card.card--default {
  .card__description {
    color: var(--color-light-grey);
  }
}

html.theme-light .card.card--default {
  .card__description {
    color: var(--color-dark-grey);
  }
}

/* Default card smaller  *********************************************************  Default card smaller  */

.card.card--default-smaller {
  .card__title {
    font-size: clamp(1.6rem, 1.457rem + 0.238vw, 1.8rem);
    line-height: 1.33;
  }
}

/* Default card related  *********************************************************  Default card related  */

.card.card--related {
  @media (max-width: 1280px) {
    .card__footer {
      flex-wrap: wrap;
      row-gap: 1rem;
    }
  }
}