/* Footer component
/* ---------------------------------------------------------- */

.footer {
  margin-top: 12rem;
  position: relative;
  
  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.2rem;
  }

  &__socials {
    column-gap: 2.4rem;
    line-height: 1;
  }
  &__social {}
  &__social-link {}
  &__copyright {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;

    @media (min-width: 901px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

html.theme-dark {
  .footer {
    &__social-link svg path {
      fill: var(--color-white);
    }
  }
}

html.theme-light {
  .footer {
    &__social-link svg path {
      fill: var(--color-black);
    }
  }
}