/* Secondary dropdown component
/* ---------------------------------------------------------- */

.dropdown-secondary {
  position: absolute;
  width: max-content;
  left: -1.6rem;
  top: calc(100% + 1.6rem);

  border-radius: var(--radius-small-medium);
  border: 1px solid transparent;
  padding: .8rem;
  
  z-index: 150;
  
  /* Animation properties */
  display: none;
  visibility: hidden;
  
  &.show {
    display: block;
    visibility: visible;
    animation: slideIn 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  &__list {
    row-gap: .2rem;
  }
  
  &__link {
    padding: .8rem 1.4rem .8rem .8rem;
    border-radius: var(--radius-small);
    display: flex;
    align-items: center;
    column-gap: .6rem;

    color: inherit;
    text-decoration: none;
    
    span, 
    small {
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.33;
      letter-spacing: 0.1px;
    }

    small {
      color: var(--color-accent);
    }

    svg {
      flex-shrink: 0;
    }
  }
}

html.theme-dark .dropdown-secondary {
  background: linear-gradient(0deg, rgba(32, 32, 34, 0.40) 0%, rgba(32, 32, 34, 0.40) 100%), var(--color-black);
  box-shadow: 0 91px 25px 0 rgba(0, 0, 0, 0.00), 0 58px 23px 0 rgba(0, 0, 0, 0.04), 0 33px 20px 0 rgba(0, 0, 0, 0.12), 0 15px 15px 0 rgba(0, 0, 0, 0.20), 0 4px 8px 0 rgba(0, 0, 0, 0.24);

  &__link svg path{
    fill: var(--color-accent);
  }

  &__link:hover {
    background: linear-gradient(0deg, #202022 0%, #202022 100%), var(--color-black);
  }
}

html.theme-light .dropdown-secondary {
  background: #FDFDFD;
  box-shadow: 0 23px 6px 0 rgba(0, 0, 0, 0.00), 0 15px 6px 0 rgba(0, 0, 0, 0.01), 0 8px 5px 0 rgba(0, 0, 0, 0.03), 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-color: #CECEDB;

  &__link svg path{
    fill: var(--color-black);
  }

  &__link:hover {
    background: #EEEEF0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-10px) scale(0.95);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}