/* TOC component
/* ---------------------------------------------------------- */

.toc-container {
  margin-top: 4rem;
  position: sticky;
  top: 0;
  background: var(--color-bg-primary);
  z-index: 100;

  @media (max-width: 900px) {
    top: 8rem;
    margin-left: -var(--side-padding);
    margin-right: -var(--side-padding);
  }

  .toc {
    padding: 1.6rem 2.4rem;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--color-bg-primary);
    height: max-content;

    display: none;
    visibility: hidden;

    &.is-open {
      display: block;
      visibility: visible;
      animation: slideIn 0.3s ease forwards;
    }
  }
  
  .toc-header {
    padding: 1.8rem 2.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    position: relative;
    z-index: 150;

    &__title {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.71;
      transition: opacity 0.3s ease;

      @media (min-width: 901px) {
        line-height: 4rem;
      }
    }

    &__arrow-icon {
      transition: transform 0.3s ease, opacity 0.2s ease;
    }

    &__arrow-icon.is-open {
      transform: rotate(180deg);
    }
  }

  .toc-list {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
  }

  .toc-list-item {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
  }

  .toc-list-item a {
    color: var(--color-dark-grey);
    text-decoration: none;
  }
}

html.theme-dark .toc-container {
  .toc-header {
    border-bottom: 1px solid rgba(253, 253, 253, 0.10);

   @media (hover: hover) {
    &:not(.is-open):hover {
      background-color: rgba(255, 255, 255, 0.02);
    }
   }
  }

  .toc-list-item a:hover {
    color: var(--color-white);
  }
}

html.theme-light .toc-container {
  .toc-header {
    border-bottom: 1px solid #CECEDB;

    @media (hover: hover) {
      &:not(.is-open):hover {
        background-color: rgba(0, 0, 0, 0.02);
      }
    }

    &__arrow-icon path {
      fill: var(--color-black);
    }
  }

  .toc-list-item a:hover {
    color: var(--color-black);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}