<footer class="footer flex items-center">
  <ul class="footer__socials flex items-center">
    <li class="footer__social">
      <a target="_blank" href="https://www.facebook.com/GTOWizard" class="footer__social-link">
        {{> icons/socials/facebook}}
      </a>
    </li>
    <li class="footer__social">
      <a target="_blank" href="https://www.instagram.com/gtowizard/" class="footer__social-link">
        {{> icons/socials/instagram}}
      </a>
    </li>
    <li class="footer__social">
      <a target="_blank" href="https://twitter.com/GTOWizard" class="footer__social-link">
        {{> icons/socials/x}}
      </a>
    </li>
    <li class="footer__social">
      <a target="_blank" href="https://www.youtube.com/c/GTOWizard" class="footer__social-link">
        {{> icons/socials/youtube}}
      </a>
    </li>
    <li class="footer__social">
      <a target="_blank" href="https://discord.gg/ht3QxrP" class="footer__social-link">
        {{> icons/socials/discord}}
      </a>
    </li>
  </ul>
  <p class="footer__copyright">
    GTO Wizard &copy; {{date format="YYYY"}}
  </p>
</footer>