<header class="header">
  <div class="wrapper flex items-center">
    {{> components/logo-dropdown class='logo-dropdown--header'}}
    {{> components/search-bar}}
    {{> components/theme-toggle class='theme-toggle--header'}}
    <button class="header-menu-button">
      {{> icons/menu class='header-menu-icon header-menu-icon--open'}}
      {{> icons/close class='header-menu-icon header-menu-icon--close'}}
    </button>
  </div>
</header>