<div class="logo-dropdown {{class}} flex items-center">
  {{> icons/logo class='logo-dropdown-icon'}}
  <p class="logo-dropdown-text">
    GTO Wizard
    <span>Blog</span>
  </p>
  {{> icons/arrow-down class='logo-dropdown-arrow-icon'}}

  {{> components/secondary-dropdown}}
</div>