<a href="https://gtowizard.com/" class="post-promo">
  <img src="{{asset 'images/post-promo/banner-desktop.png'}}" alt="Post promo banner" class="desktop">
  <img src="{{asset 'images/post-promo/banner-mobile.png'}}" alt="Post promo banner" class="mobile">
</a>