<div class="dropdown-secondary">
  <ul class="dropdown-secondary__list flex direction-column">
    <li class="dropdown-secondary__item">
      <a href="https://gtowizard.com/" class="dropdown-secondary__link">
        {{> icons/logo}}
        <span>GTO Wizard</span>
      </a>
    </li>
    <li class="dropdown-secondary__item">
      <a href="https://gtowizard.com/table-wizard" class="dropdown-secondary__link">
        {{> icons/logo}}
        <span>Table Wizard</span>
      </a>
    </li>
    <li class="dropdown-secondary__item">
      <a href="https://rbwizard.com/" class="dropdown-secondary__link">
        {{> icons/logo}}
        <span>RakeBack Wizard</span>
      </a>
    </li>
    <li class="dropdown-secondary__item">
      <a href="https://www.dailydoseofgto.com/" class="dropdown-secondary__link">
        {{> icons/logo}}
        <span>GTO Wizard <small>Book</small></span>
      </a>
    </li>
  </ul>
</div>