{{!-- Theme toggle component -------------------------------------------------- Theme toggle component --}}

<button class="theme-toggle flex direction-column items-center content-center {{class}}">
  <div class="sun-icon">{{> icons/sun}}</div>
  <div class="moon-icon">{{> icons/moon}}</div>
</button>