<div class="toc-container flex direction-column">
  <div class="toc-header flex items-center space-between">
    <h2 class="toc-header__title">Overview</h2>
    {{> icons/arrow-down class='toc-header__arrow-icon'}}
  </div>
  <div class="toc js-toc" id="toc"></div>
</div>
